.dashboard-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-slate-100);
}

.dashboard-layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100vh;
}

.dashboard-layout-content {
  flex: 1;
  overflow-y: auto;
  padding: 1.5rem 2rem 3rem;
}